/target/
**/*.rs.bk
Cargo.lock
*.pdb
*.exe
*.dll
*.sys
/vendor/windivert/x64/*.dll
/vendor/windivert/x64/*.sys
/vendor/windivert/x64/*.lib
!/vendor/windivert/README.md
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
